Repository kr8s-org/kr8s, pull requests merged in 2023-12, with the labels that each got.

#228 Add schema validation example
  docs/examples/creating_resources.md
  kr8s/tests/test_objects.py
  pyproject.toml
Labels: documentation, kr8s, tests

#229 Add ServerError exception
  kr8s/__init__.py
  kr8s/_api.py
  kr8s/_exceptions.py
  kr8s/_objects.py
  kr8s/conftest.py
  kr8s/tests/test_auth.py
  kr8s/tests/test_objects.py
Labels: kr8s, tests

#231 Warn on getting api-resources instead of failing
  kr8s/_api.py
Labels: kr8s

#238 Simplify validate example
  docs/examples/creating_resources.md
Labels: documentation

#239 Add whoami API method
  docs/authentication.md
  kr8s/_api.py
  kr8s/tests/resources/serviceaccount.yaml
  kr8s/tests/test_auth.py
  pyproject.toml
Labels: documentation, kr8s, tests

#237 Fix auth lookup order
  kr8s/_auth.py
Labels: kr8s

#242 General test cleanup
  docs/examples/creating_resources.md
  kr8s/tests/test_api.py
  kr8s/tests/test_auth.py
  kr8s/tests/test_io.py
  kr8s/tests/test_objects.py
Labels: documentation, kr8s, tests

#243 Add example that uses kopf + kr8s
  docs/examples/index.md
  docs/examples/kopf_operator.md
Labels: documentation

#244 Ensure tabs are synced in code examples
  docs/examples/creating_resources.md
  docs/examples/generating_resources.md
  docs/examples/inspecting_resources.md
  docs/examples/labelling_operator.md
  docs/examples/listing_resources.md
  docs/examples/modifying_resources.md
  docs/examples/pod_operations.md
Labels: documentation

#245 Broad documentation improvements
  README.md
  docs/asyncio.md
  docs/authentication.md
  docs/client.md
  docs/examples/modifying_resources.md
  docs/index.md
  docs/installation.md
  docs/object.md
  kr8s/__init__.py
  kr8s/_objects.py
  kr8s/asyncio/_api.py
Labels: documentation, kr8s

#246 profit from PEP 673, allow typed custom APIObjects
  kr8s/_objects.py
Labels: kr8s

#247 Add kr8s.whoami() helper
  kr8s/__init__.py
  kr8s/_api.py
  kr8s/asyncio/__init__.py
  kr8s/asyncio/_helpers.py
  kr8s/tests/test_api.py
Labels: kr8s, tests

#248 Add guides section
  docs/client.md
  docs/examples/generating_resources.md
  docs/examples/index.md
  docs/examples/inspecting_resources.md
  docs/examples/listing_resources.md
  docs/examples/modifying_resources.md
  docs/guides/index.md
  docs/guides/kopf_operator.md
  docs/guides/labelling_operator.md
  docs/index.md
Labels: documentation

#250 Add .list() method to objects and allow passing APIObjects to kr8s.get()
  docs/examples/listing_resources.md
  kr8s/_api.py
  kr8s/_objects.py
  kr8s/tests/test_api.py
  kr8s/tests/test_objects.py
Labels: documentation, kr8s, tests

#252 Avoid looking up API resources on APIObject.get() calls
  kr8s/_objects.py
Labels: kr8s

#254 Add caching to API Resources
  kr8s/_api.py
  kr8s/tests/test_api.py
  kr8s/tests/test_io.py
  pyproject.toml
Labels: kr8s, tests

#255 Cache api-resources for longer
  kr8s/_api.py
Labels: kr8s

#258 Suppress connection closed exceptions in port forwards
  .github/workflows/test.yaml
  kr8s/_portforward.py
  pyproject.toml
Labels: ci, kr8s

#261 Add contributing docs
  docs/contributing.md
  pyproject.toml
Labels: documentation

#260 Remove basic authentication
  kr8s/_api.py
  kr8s/_auth.py
Labels: kr8s
