Repository kr8s-org/kr8s, pull requests merged in 2023-09, with the labels that each got.

#147 If a Service is port forwarded and the Pod goes away try another Pod
  kr8s/_portforward.py
Labels: kr8s

#148 Migrate from Poetry to Hatch for kr8s packaging
  .github/workflows/release.yaml
  .github/workflows/test.yaml
  .gitignore
  .readthedocs.yaml
  kr8s/__init__.py
  poetry.lock
  pyproject.toml
Labels: ci, kr8s

#149 Add an examples section
  docs/examples/creating_resources.md
  docs/examples/index.md
  docs/examples/labelling_operator.md
  docs/examples/listing_resources.md
  docs/examples/modifying_resources.md
  docs/index.md
Labels: documentation

#150 Add sticker SVG
  branding/kr8s-sticker.svg
Labels: branding

#152 Fix OIDC docs
  docs/authentication.md
Labels: documentation

#153 Add alternatives documentation page
  docs/alternatives.md
  docs/index.md
Labels: documentation

#155 Add more examples to the docs
  docs/examples/creating_resources.md
  docs/examples/listing_resources.md
  docs/examples/modifying_resources.md
Labels: documentation

#156 Allow null values when parsing exec from kubeconfig
  kr8s/_auth.py
Labels: kr8s

#160 Explicitly document that KUBECONFIG is supported
  docs/authentication.md
Labels: documentation

#162 Allow setting the context to use in the kr8s API client
  docs/authentication.md
  kr8s/_api.py
  kr8s/_auth.py
  kr8s/asyncio/_api.py
  kr8s/tests/test_auth.py
Labels: documentation, kr8s, tests

#163 Highlight more examples in the README and docs index
  README.md
  docs/index.md
Labels: documentation

#166 Create and Delete objects from files
  examples/kubectl-ng/kubectl_ng/_create.py
  examples/kubectl-ng/kubectl_ng/_delete.py
  examples/kubectl-ng/kubectl_ng/cli.py
  examples/kubectl-ng/kubectl_ng/tests/resources/simple/nginx_pod_service.yaml
  examples/kubectl-ng/kubectl_ng/tests/test_create_delete.py
  kr8s/_objects.py
  kr8s/objects.py
Labels: kr8s, kubectl-ng, tests

#172 Disable timeout on watch
  kr8s/_api.py
Labels: kr8s
