Repository kr8s-org/kr8s, pull requests merged in 2023-10, with the labels that each got.

#176 Handle certificate-authority in kube config
  kr8s/_auth.py
Labels: kr8s

#180 Support disabling TLS verification
  kr8s/_auth.py
Labels: kr8s

#182 Stream Pod logs with a generator
  docs/examples/index.md
  docs/examples/inspecting_resources.md
  docs/object.md
  kr8s/_objects.py
  kr8s/tests/test_objects.py
Labels: documentation, enhancement, kr8s, tests, breaking

#187 Avoid creating duplicate portals in sync iterators
  kr8s/_io.py
Labels: kr8s

#188 Create a reusable portal as a singleton
  kr8s/_io.py
Labels: kr8s

#189 Remove cross-loop retries
  kr8s/_api.py
  kr8s/_io.py
Labels: kr8s

#191 Remove sync wrapped call inside .get
  kr8s/_objects.py
  kr8s/tests/test_objects.py
Labels: bug, kr8s, tests
