Repository kr8s-org/kr8s, pull requests merged in 2024-03, with the labels that each got.

#322 Add 'Create objects from a YAML file' example
  docs/examples/creating_resources.md
Labels: documentation

#317 Fix context managers generator error after successful ws connection when portforwarding
  kr8s/_portforward.py
  kr8s/tests/test_objects.py
Labels: kr8s, tests

#324 Handle key/cert data not being b64 encoded
  kr8s/_auth.py
Labels: kr8s

#328 Add link to missing object exception
  kr8s/_objects.py
Labels: kr8s

#329 Migrate to httpx-ws
  kr8s/_api.py
  kr8s/_exec.py
  kr8s/_portforward.py
  pyproject.toml
Labels: kr8s

#334 Replace asyncio with anyio throughout
  kr8s/_objects.py
  kr8s/_portforward.py
  kr8s/conftest.py
  kr8s/tests/test_api.py
  kr8s/tests/test_objects.py
Labels: kr8s, tests

#336 Migrate `kr8s._io.check_output()` to use `anyio`
  kr8s/_io.py
  kr8s/tests/test_io.py
Labels: kr8s, tests

#340 Ensure `new_class(asyncio=False)` returns a `sync()` wrapped object
  kr8s/_objects.py
  kr8s/tests/test_objects.py
Labels: kr8s, tests
