Repository kr8s-org/kr8s, pull requests merged in 2024-12, with the labels that each got.

#524 Use metadata.name filter on name for api.get
  kr8s/_api.py
  kr8s/tests/test_api.py
Labels: kr8s, tests

#527 Use Pod.gen and Pod.wait in get filter tests
  kr8s/tests/test_api.py
Labels: kr8s, tests

#529 Rerun tests only in CI
  .github/workflows/test-kr8s.yaml
  pyproject.toml
Labels: ci

#530 Add taint function and taints property to Node
  kr8s/_objects.py
  kr8s/tests/test_objects.py
Labels: kr8s, tests

#535 Upgrade kubectl-ng get to the new async syntax
  examples/kubectl-ng/kubectl_ng/_get.py
Labels: kubectl-ng
