Repository kr8s-org/kr8s, pull requests merged in 2024-05, with the labels that each got.

#374 Add support for tls-server-name arguments in the kubeconfig
  kr8s/_api.py
  kr8s/_auth.py
Labels: kr8s

#375 Add kubectl-ng config current-context
  examples/kubectl-ng/kubectl_ng/_config.py
  examples/kubectl-ng/kubectl_ng/cli.py
  examples/kubectl-ng/kubectl_ng/tests/test_kng_config.py
Labels: kubectl-ng, tests

#376 Add kubectl-ng config get-[clusters|users]
  examples/kubectl-ng/kubectl_ng/_config.py
  examples/kubectl-ng/kubectl_ng/tests/test_kng_config.py
Labels: kubectl-ng, tests

#379 kubectl-ng config use/rename context
  examples/kubectl-ng/kubectl_ng/_config.py
  examples/kubectl-ng/kubectl_ng/_typer_utils.py
  examples/kubectl-ng/kubectl_ng/cli.py
  examples/kubectl-ng/kubectl_ng/tests/test_kng_config.py
Labels: kubectl-ng, tests

#383 Skip test_multiple_bind_addresses_port_forward on macOS
  kr8s/tests/test_objects.py
Labels: kr8s, tests

#384 Ensure type is passed through _io.sync
  kr8s/_io.py
Labels: kr8s

#385 Add hygiene to drafter labels
  .github/release-drafter.yml
Labels: hygiene

#386 Fix `kubectl-ng api-resources` client usage
  examples/kubectl-ng/kubectl_ng/_api_resources.py
  examples/kubectl-ng/kubectl_ng/tests/test_kng_api_resources.py
Labels: bug, kubectl-ng, tests

#388 Rename async utilities and add more docstrings
  kr8s/__init__.py
  kr8s/_async_utils.py
  kr8s/_auth.py
  kr8s/_objects.py
  kr8s/objects.py
  kr8s/portforward.py
  kr8s/tests/test_io.py
Labels: kr8s, tests, hygiene

#389 Refactor kubectl-ng get to allow --watch flag
  examples/kubectl-ng/kubectl_ng/_get.py
  examples/kubectl-ng/kubectl_ng/_typer_utils.py
  examples/kubectl-ng/kubectl_ng/tests/test_kng_get.py
Labels: kubectl-ng, tests
