Repository kr8s-org/kr8s, pull requests merged in 2024-09, with the labels that each got.

#485 Check if embedded cert is base64 encoded before decoding
  kr8s/_auth.py
  kr8s/tests/test_auth.py
Labels: kr8s, auth, tests

#452 Make getting resource by name more efficient by using a field selector
  .gitignore
  kr8s/_objects.py
Labels: kr8s

#488 Load all resource versions and sort them
  kr8s/_api.py
  kr8s/_data_utils.py
  kr8s/tests/test_data_utils.py
Labels: bug, kr8s, tests

#489 Extend Kubernetes version support to match cloud support
  ci/update-kubernetes.py
  docs/installation.md
Labels: documentation, ci, kr8s, hygiene

#490 Tweak if/else logic in kubectl-ng get
  examples/kubectl-ng/kubectl_ng/_get.py
Labels: kubectl-ng

#496 Fix loadBalancer attribute name
  kr8s/_objects.py
Labels: bug, kr8s

#497 Only run publish workflow on kr8s-org/kr8s
  .github/workflows/release.yaml
Labels: ci, hygiene
