Repository kr8s-org/kr8s, pull requests merged in 2024-07, with the labels that each got.

#424 Fix listing all namespaces when base URL is specified
  kr8s/_api.py
  kr8s/_auth.py
Labels: bug, kr8s, auth

#429 Start getting `mypy --strict` passing
  .pre-commit-config.yaml
  kr8s/__init__.py
  kr8s/_exceptions.py
  kr8s/_objects.py
  kr8s/_testutils.py
  kr8s/asyncio/__init__.py
  kr8s/tests/test_api.py
  pyproject.toml
Labels: ci, kr8s, tests, hygiene, typing

#430 Add hook to sphinx-autoapi to fix sync wrapping
  docs/conf.py
Labels: documentation

#431 Add kr8s.asyncio to api docs
  docs/conf.py
  kr8s/asyncio/objects.py
  kr8s/asyncio/portforward.py
Labels: documentation, kr8s

#432 Support getting unknown types
  docs/object.md
  kr8s/_api.py
  kr8s/_objects.py
  kr8s/asyncio/_helpers.py
  kr8s/tests/test_api.py
  kr8s/tests/test_objects.py
Labels: documentation, kr8s, tests

#433 Remove istio check
  kr8s/tests/test_api.py
Labels: kr8s, tests

#434 Ensure dynamic classes are garbage collected between tests
  conftest.py
  kr8s/tests/test_api.py
Labels: kr8s, tests, hygiene

#435 Enable custom object subclasses
  docs/object.md
  kr8s/_objects.py
  kr8s/tests/test_objects.py
Labels: documentation, enhancement, kr8s, tests

#436 Ensure all submodules are imported
  kr8s/__init__.py
  kr8s/asyncio/__init__.py
Labels: kr8s, hygiene, typing

#438 Enable pydocstyle rules in ruff and fix errors
  kr8s/__init__.py
  kr8s/_api.py
  kr8s/_async_utils.py
  kr8s/_data_utils.py
  kr8s/_exceptions.py
  kr8s/_objects.py
  kr8s/_portforward.py
  kr8s/_testutils.py
  kr8s/asyncio/__init__.py
  kr8s/asyncio/_api.py
  kr8s/asyncio/_helpers.py
  kr8s/asyncio/objects.py
  kr8s/asyncio/portforward.py
  kr8s/objects.py
  kr8s/portforward.py
  pyproject.toml
Labels: bug, documentation, hygiene

#439 Turn on `pycodestyle` warnings, `pep8-naming` and `flake8-bugbear` in `ruff`.
  kr8s/__init__.py
  kr8s/_api.py
  kr8s/_async_utils.py
  kr8s/_objects.py
  kr8s/_portforward.py
  kr8s/asyncio/objects.py
  kr8s/objects.py
  pyproject.toml
Labels: kr8s, hygiene

#441 Add py.typed file
  kr8s/py.typed
Labels: kr8s, hygiene, typing

#446 Fix setting attributes on objects
  kr8s/_objects.py
  kr8s/tests/test_objects.py
Labels: bug, kr8s, tests

#447 Add support for generate name
  kr8s/_objects.py
  kr8s/tests/test_objects.py
Labels: enhancement, kr8s, tests

#448 Some some type errors found with pyright
  .pre-commit-config.yaml
  kr8s/__init__.py
  kr8s/_api.py
  kr8s/_async_utils.py
  kr8s/_auth.py
  kr8s/_exec.py
  kr8s/_objects.py
  kr8s/_portforward.py
  kr8s/_types.py
  kr8s/asyncio/_helpers.py
  pyproject.toml
Labels: ci, kr8s, hygiene, typing

#449 Add pyupgrade to pre-commit
  .pre-commit-config.yaml
  examples/kubectl-ng/kubectl_ng/_get.py
  kr8s/_api.py
  kr8s/_async_utils.py
  kr8s/_config.py
  kr8s/_exec.py
  kr8s/_objects.py
  kr8s/_portforward.py
Labels: ci, kr8s, kubectl-ng, hygiene

#453 Improve type annotation for APIObject constructor
  kr8s/_objects.py
  kr8s/_types.py
Labels: kr8s, typing

#458 Add missing version to examples of `new_class()`
  docs/object.md
Labels: documentation
