Repository kr8s-org/kr8s, pull requests merged in 2024-02, with the labels that each got.

#300 Fix types when checking wait conditions
  kr8s/_objects.py
  kr8s/tests/test_objects.py
Labels: kr8s, tests

#302 Allow specifying resources in Pod.gen()
  kr8s/_objects.py
Labels: kr8s

#304 fix certificate-authority kubeconfig parsing
  kr8s/_auth.py
  kr8s/tests/test_auth.py
Labels: bug, kr8s, auth, tests

#307 Ensure reauthenticate calls exec again
  kr8s/_auth.py
  kr8s/tests/test_auth.py
Labels: kr8s, tests

#311 Only load service account of kubeconfig was not found
  kr8s/_auth.py
Labels: kr8s

#318 Fix sync Service.ready_pods()
  kr8s/_objects.py
  kr8s/tests/test_objects.py
Labels: bug, kr8s, tests

#320 Change private async methods to async_ prefix
  kr8s/_api.py
  kr8s/_io.py
  kr8s/_objects.py
  kr8s/_portforward.py
  kr8s/asyncio/_helpers.py
  kr8s/tests/test_objects.py
Labels: enhancement, kr8s, tests
