Repository kr8s-org/kr8s, pull requests merged in 2024-06, with the labels that each got.

#392 Allow passing custom plural suffix to `new_class()`
  kr8s/_objects.py
  kr8s/tests/test_objects.py
Labels: enhancement, kr8s, tests

#378 Handle empty KUBECONFIG path item gracefully when other valid paths
  kr8s/_config.py
  kr8s/tests/test_auth.py
  kr8s/tests/test_config.py
Labels: kr8s, tests

#393 Allow Release Drafter to be run manually
  .github/workflows/release-drafter.yml
Labels: ci, hygiene

#395 Change async default in object utils depending on import path
  kr8s/_objects.py
  kr8s/asyncio/objects.py
  kr8s/objects.py
  kr8s/tests/test_objects.py
Labels: kr8s, tests

#396 Add a helpful exception when forgetting to await an async class
  kr8s/_objects.py
  kr8s/tests/test_objects.py
Labels: kr8s, tests

#397 Add breaking changes section to release drafter
  .github/release-drafter.yml
Labels: ci

#398 Implement get, set and unset methods on KubeConfig objects
  kr8s/_config.py
  kr8s/tests/test_config.py
Labels: kr8s, auth, tests

#401 Ensure `kind` and `apiVersion` are always included in raw specs
  kr8s/_objects.py
  kr8s/tests/test_objects.py
Labels: bug, kr8s, tests

#403 Allow explicit passing of plural name to new_class instead of suffix
  kr8s/_objects.py
  kr8s/tests/test_objects.py
Labels: bug, kr8s, tests, breaking

#405 Add tests for object raw setter
  kr8s/tests/test_objects.py
Labels: kr8s, tests, hygiene

#407 Fix setting spec of a resource from other resource
  kr8s/_objects.py
  kr8s/tests/test_objects.py
Labels: bug, kr8s, tests

#409 Allow setting timeouts on httpx client
  docs/client.md
  kr8s/_api.py
  kr8s/tests/test_api.py
Labels: documentation, enhancement, kr8s, tests

#411 Fix implicit optional types
  kr8s/__init__.py
  kr8s/_api.py
  kr8s/_config.py
  kr8s/_exec.py
  kr8s/_objects.py
  kr8s/_portforward.py
  kr8s/asyncio/_api.py
  kr8s/asyncio/_helpers.py
Labels: kr8s, hygiene, typing

#412 More mypy fixes
  kr8s/_auth.py
  kr8s/_data_utils.py
  kr8s/_objects.py
  kr8s/_testutils.py
  kr8s/conftest.py
  kr8s/tests/test_auth.py
  pyproject.toml
Labels: kr8s, tests, hygiene, typing

#413 More mypy fixes again
  kr8s/__init__.py
  kr8s/_api.py
  kr8s/_auth.py
  kr8s/_config.py
  kr8s/_exec.py
  kr8s/_objects.py
  kr8s/_portforward.py
  kr8s/_types.py
Labels: kr8s, hygiene, typing

#415 Another round of mypy fixes
  kr8s/_api.py
  kr8s/_exec.py
  kr8s/_portforward.py
Labels: kr8s, hygiene, typing

#417 Add type annotations for kr8s._async_utils
  kr8s/__init__.py
  kr8s/_async_utils.py
Labels: kr8s, hygiene, typing

#419 Add type annotations for `kr8s._config`
  kr8s/_config.py
  kr8s/_jsonpath.py
  kr8s/_types.py
Labels: kr8s, hygiene, typing

#418 Add type annotations for `kr8s._auth`
  kr8s/_api.py
  kr8s/_auth.py
  kr8s/_config.py
Labels: kr8s, hygiene, typing

#421 Add `mypy` to the pre-commit hooks
  .pre-commit-config.yaml
  kr8s/_exec.py
  pyproject.toml
Labels: ci, kr8s, hygiene, typing

#420 Remove typing shim in favour of typing.cast
  kr8s/_config.py
  kr8s/_jsonpath.py
Labels: kr8s, hygiene, typing
