Repository kr8s-org/kr8s, pull requests merged in 2024-04, with the labels that each got.

#346 Allow client.authentication.k8s.io/v1 client authentication
  kr8s/_auth.py
Labels: kr8s

#344 Suppress WebSocketDisconnect in _portforward._sync_sockets .
  kr8s/_portforward.py
Labels: kr8s

#348 Remove duplicate clusters/users/contexts when using multiple configs
  kr8s/_config.py
  kr8s/_data_utils.py
  kr8s/tests/test_data_utils.py
Labels: kr8s, tests

#353 Don't share API objects between event loops
  kr8s/_api.py
  kr8s/asyncio/_api.py
  kr8s/tests/test_api.py
Labels: bug, kr8s, tests

#354 Add Release Drafter config
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release-publish.yml
Labels: ci, kr8s

#356 Add ci label to auto k8s update PRs
  .github/workflows/update-kubernetes.yaml
Labels: ci

#360 Fix kubeconfig with no clusters
  kr8s/_auth.py
  kr8s/_config.py
  kr8s/tests/test_auth.py
  kr8s/tests/test_config.py
Labels: bug, kr8s, auth, tests

#361 Accept kubeconfig as a dict
  kr8s/_api.py
  kr8s/_auth.py
  kr8s/_config.py
  kr8s/asyncio/_api.py
  kr8s/tests/test_auth.py
Labels: enhancement, kr8s, auth, tests

#362 Add ci label to .pre-commit-config.yaml
  .github/labeler.yml
Labels: ci, hygiene

#363 Add project.urls section in pyproject.toml
  pyproject.toml
Labels: hygiene

#364 Small coverage improvements
  .github/workflows/test-kr8s.yaml
  .gitignore
  codecov.yml
  kr8s/tests/test_objects.py
  pyproject.toml
Labels: ci, kr8s, tests, hygiene

#367 Disable multi-config support on Windows
  kr8s/_auth.py
  kr8s/_config.py
  kr8s/tests/test_auth.py
  kr8s/tests/test_config.py
Labels: kr8s, auth, tests
