Repository kr8s-org/kr8s, pull requests merged in 2024-01, with the labels that each got.

#265 Enable reading certs from files
  kr8s/_auth.py
  kr8s/tests/resources/serviceaccount.yaml
  kr8s/tests/test_auth.py
Labels: kr8s, tests

#264 Rework exec to explicitly use the v4.channel.k8s.io protocol and add support for future v5
  kr8s/_exec.py
  kr8s/tests/test_objects.py
Labels: kr8s, tests

#267 Implement Custom Bind Address for Port Forwarding
  docs/examples/pod_operations.md
  docs/index.md
  kr8s/_objects.py
  kr8s/_portforward.py
  kr8s/portforward.py
  kr8s/tests/test_objects.py
Labels: documentation, kr8s, tests

#273 Fix sync objects_from_files
  kr8s/_objects.py
  kr8s/tests/test_objects.py
Labels: kr8s, tests

#275 Wait for Pod to be ready when calling exec
  kr8s/_objects.py
  kr8s/tests/test_objects.py
Labels: kr8s, tests

#276 Make workflow files/names more consistent
  .github/workflows/test-kr8s.yaml
  .github/workflows/test-kubectl-ng.yaml
  ci/update-kubernetes.py
Labels: ci

#281 Add `kubectl-ng api-versions` command
  examples/kubectl-ng/kubectl_ng/_api_versions.py
  examples/kubectl-ng/kubectl_ng/cli.py
  examples/kubectl-ng/kubectl_ng/tests/test_api_versions.py
  kr8s/_api.py
  kr8s/tests/test_api.py
Labels: kr8s, kubectl-ng, tests

#283 Make the default action to show help
  examples/kubectl-ng/kubectl_ng/cli.py
  examples/kubectl-ng/kubectl_ng/tests/test_cli.py
Labels: kubectl-ng, tests

#287 Change title hierarchy of more examples
  docs/index.md
Labels: documentation

#288 Allow passing container ports to Pod.gen() as integers
  kr8s/_objects.py
  kr8s/tests/test_objects.py
Labels: kr8s, tests

#291 Add EffVer badges
  README.md
  docs/index.md
  docs/releasing.md
Labels: documentation

#293 Change wait to match any condition, add mode to enable previous funtionality
  docs/examples/creating_resources.md
  kr8s/_objects.py
  kr8s/tests/test_objects.py
Labels: documentation, kr8s, tests

#295 Docs fixes
  docs/alternatives.md
  docs/client.md
Labels: documentation
