Repository kr8s-org/kr8s, pull requests merged in 2024-08, with the labels that each got.

#462 Ensure hatch is installed with the correct Python version in CI
  .github/workflows/test-kr8s.yaml
  kr8s/_types.py
Labels: bug, ci, kr8s

#463 Add Python minor versions to badge
  README.md
  docs/index.md
Labels: documentation

#465 Add retry to kubectl-ng publishing
  .github/workflows/release.yaml
Labels: ci

#479 Improve NotFound exception message to include namespace
  kr8s/_objects.py
Labels: enhancement, kr8s

#478 Handle 410 Gone response when watching resources
  kr8s/_api.py
Labels: kr8s
