Repository kr8s-org/kr8s, pull requests merged in 2025-01, with the labels that each got.

#538 Adds tolerate to Pod
  kr8s/_objects.py
  kr8s/tests/test_objects.py
Labels: kr8s, tests

#541 Handle reset TCP socket
  ci/update-kubernetes.py
  conftest.py
  docs/conf.py
  examples/kubectl-ng/kubectl_ng/__init__.py
  examples/kubectl-ng/kubectl_ng/_api_resources.py
  examples/kubectl-ng/kubectl_ng/_api_versions.py
  examples/kubectl-ng/kubectl_ng/_config.py
  examples/kubectl-ng/kubectl_ng/_cordon_uncordon.py
  examples/kubectl-ng/kubectl_ng/_create.py
  examples/kubectl-ng/kubectl_ng/_delete.py
  examples/kubectl-ng/kubectl_ng/_exec.py
  examples/kubectl-ng/kubectl_ng/_formatters.py
  examples/kubectl-ng/kubectl_ng/_get.py
  examples/kubectl-ng/kubectl_ng/_typer_utils.py
  examples/kubectl-ng/kubectl_ng/_version.py
  examples/kubectl-ng/kubectl_ng/_wait.py
  examples/kubectl-ng/kubectl_ng/cli.py
  examples/kubectl-ng/kubectl_ng/tests/test_api_versions.py
  examples/kubectl-ng/kubectl_ng/tests/test_cli.py
  examples/kubectl-ng/kubectl_ng/tests/test_create_delete.py
  examples/kubectl-ng/kubectl_ng/tests/test_exec.py
  examples/kubectl-ng/kubectl_ng/tests/test_formatters.py
  examples/kubectl-ng/kubectl_ng/tests/test_kng_api_resources.py
  examples/kubectl-ng/kubectl_ng/tests/test_kng_config.py
  examples/kubectl-ng/kubectl_ng/tests/test_kng_get.py
  examples/kubectl-ng/kubectl_ng/tests/test_version.py
  kr8s/__init__.py
  kr8s/_api.py
  kr8s/_async_utils.py
  kr8s/_auth.py
  kr8s/_config.py
  kr8s/_data_utils.py
  kr8s/_exceptions.py
  kr8s/_exec.py
  kr8s/_objects.py
  kr8s/_portforward.py
  kr8s/_testutils.py
  kr8s/_types.py
  kr8s/asyncio/__init__.py
  kr8s/asyncio/_api.py
  kr8s/asyncio/_helpers.py
  kr8s/asyncio/objects.py
  kr8s/asyncio/portforward.py
  kr8s/conftest.py
  kr8s/objects.py
  kr8s/portforward.py
  kr8s/tests/scripts/envexec.py
  kr8s/tests/test_api.py
  kr8s/tests/test_auth.py
  kr8s/tests/test_config.py
  kr8s/tests/test_data_utils.py
  kr8s/tests/test_gen.py
  kr8s/tests/test_io.py
  kr8s/tests/test_objects.py
  kr8s/tests/test_testutils.py
Labels: bug, documentation, kr8s, kubectl-ng, tests

#546 Bump minimum version of Python to 3.9 and httpx-ws to 0.7.0
  .github/workflows/test-kr8s.yaml
  .github/workflows/test-kubectl-ng.yaml
  README.md
  docs/index.md
  pyproject.toml
Labels: ci, hygiene

#547 Fix Custom Resource pagination hang
  kr8s/_api.py
  kr8s/conftest.py
  kr8s/tests/test_api.py
Labels: bug, kr8s, tests

#551 Replace @sync decorator with APIObjectSyncMixin for all sync objects
  conftest.py
  kr8s/__init__.py
  kr8s/_api.py
  kr8s/_objects.py
  kr8s/_portforward.py
  kr8s/objects.py
  kr8s/portforward.py
  kr8s/tests/test_api.py
  kr8s/tests/test_objects.py
  pyproject.toml
Labels: kr8s, tests

#554 Pass kwargs along in `APIObjectSyncMixin.list()`
  kr8s/_objects.py
  kr8s/tests/test_objects.py
Labels: kr8s, tests

#557 Allow overriding of sync shims in Service
  .pre-commit-config.yaml
  kr8s/objects.py
Labels: ci, kr8s, typing

#558 Bump pyupgrade minimum to 3.9
  .pre-commit-config.yaml
  examples/kubectl-ng/kubectl_ng/_config.py
  examples/kubectl-ng/kubectl_ng/_exec.py
  examples/kubectl-ng/kubectl_ng/_get.py
  examples/kubectl-ng/kubectl_ng/_wait.py
  kr8s/__init__.py
  kr8s/_api.py
  kr8s/_async_utils.py
  kr8s/_config.py
  kr8s/_exec.py
  kr8s/_objects.py
  kr8s/_portforward.py
  kr8s/_testutils.py
  kr8s/_types.py
  kr8s/asyncio/_helpers.py
Labels: ci, kr8s, kubectl-ng, hygiene

#561 Add explicit type hints for `APIObjectSyncMixin` methods
  kr8s/_objects.py
Labels: bug, kr8s, typing

#562 Allow passing `api` kwarg to `APIObject.list()`
  kr8s/_objects.py
  kr8s/tests/test_objects.py
Labels: enhancement

#567 Sync port forward wrapping should call `async_run_forever`
  kr8s/portforward.py
Labels: kr8s
