Repository kr8s-org/kr8s, pull requests merged in 2025-07, with the labels that each got.

#633 Improve type hints for sync API
  kr8s/objects.py
Labels: kr8s

#636 Explicitly set ollama version in upgrade action
  .github/workflows/update-kubernetes.yaml
Labels: ci

#638 Remove PR title generation workaround
  .github/workflows/update-kubernetes.yaml
Labels: ci

#641 Fix deleting and recreating resources
  kr8s/_objects.py
  kr8s/tests/test_objects.py
Labels: bug, kr8s, tests

#645 Use content arg instead of data when calling api
  kr8s/_api.py
  kr8s/_objects.py
Labels: kr8s

#644 Fix some typing issues
  kr8s/__init__.py
  kr8s/_async_utils.py
  kr8s/_objects.py
  kr8s/objects.py
  kr8s/portforward.py
  kr8s/tests/test_objects.py
Labels: kr8s, tests, typing
