Repository kr8s-org/kr8s, pull requests merged in 2025-05, with the labels that each got.

#617 Fix `insecure-skip-tls-verify` not being honored when no certs configured
  kr8s/_auth.py
Labels: bug, kr8s

#618 Show value change indicators when watching resources
  examples/kubectl-ng/kubectl_ng/_get.py
Labels: kubectl-ng

#620 Update title LLM prompt to discourage using quotes
  .github/workflows/update-kubernetes.yaml
Labels: ci
